<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<base href="/">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<wa-example-app>Loading...</wa-example-app>

		<script src="{{asset 'manifest/js'}}"></script>

		{{#if hmr}}
			<script src="{{asset 'hmr/js'}}"></script>
		{{/if}}

		<script src="{{asset 'styles/js'}}"></script>
		<script src="{{asset 'polyfills/js'}}"></script>
		<script src="{{asset 'app/js'}}"></script>
	</body>
</html>